{% extends 'layout.html' %}

{% block content %}

<form action="/book-slot" method="POST">

    <div class="form-row justify-content-center" style="width:800px; margin:0 auto;">
        <h3 class="text-muted text-center mb-4 mt-4">Lecture Hall Booking System</h3>
    </div>

    <div class="form-row justify-content-center mb-2" style="width:800px; margin:0 auto;">
        <div class="form-group col-md-4">
          <select class="form-control" name="date" id="bookedDate" onchange="changeDateFunc()"></select>
        </div>
        <div class="form-group col-md-4">
          <select class="form-control" name="lectureHall" id="bookedLectureHall" onchange="changeLectureHallFunc()">
            <option disabled selected>Lecture Halls</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <select class="form-control" name="TimeSlot" id="bookedTimeSlot" onchange="changeTimeSlotFunc()">
            <option disabled selected>Time Slots</option>
          </select>
        </div>
    </div>

    <div class="form-row mb-4" style="width:800px; margin:0 auto;">
        <label for="startTime">Start Time</label>
        <input type="range" class="form-control-range" step="5" id="startTime" disabled
               oninput=changeStartTimeInputFunc()>
        <br />
        <span id="startTimeValue"></span>
        <input type="hidden" name="startTimeValue" id="startTimeOutputValue">
    </div>

    <div class="form-row mb-4" style="width:800px; margin:0 auto;">
        <label for="endTime">End Time</label>
        <input type="range" class="form-control-range" step="5" id="endTime" disabled
               oninput=changeEndTimeInputFunc()>
        <br />
        <span id="endTimeValue"></span>
        <input type="hidden" name="endTimeValue" id="endTimeOutputValue">
    </div>

    <div class="form-row justify-content-center" style="width:800px; margin:0 auto;">
        <button class="btn btn-primary btn-lg" type="submit" disabled id="bookSlot">Book</button>
    </div>

</form>

<script src="../static/main.js"></script>
{% endblock content %}