{% extends 'layout.html' %}

{% block content %}
<h1>LHBS - Select lecture hall</h1>
<form action="/time_slot_page" method="POST">
    <select name="lecture-hall">
        <option disabled selected value="">Lecture Halls</option>
        {% for lecture_hall in lecture_halls %}
            {% if lecture_hall[1] %}
                <option value="{{ lecture_hall[0] }}">{{ lecture_hall[0] }}</option>
            {% else %}
                <option disabled value="">{{ lecture_hall[0] }}</option>
            {% endif %}
        {% endfor %}
    </select>
    {% if any_lecture_hall_available %}
        <input type="submit" value="Check Available Slots">
    {% else %}
        <input disabled type="submit" value="Check Available Slots">
    {% endif %}
</form>
{% endblock content %}