{% extends 'layout.html' %}

{% block content %}
<h1>LHBS - Select Time Slot for {{ selected_lecture_hall }}</h1>
<form action="/booking" method="POST">
    <select name="time-slot">
        <option disabled selected value="">Time Slots</option>
        {% for time_slot in time_slots %}
            {% if time_slot in booked_time_slots %}
                <option disabled value="">{{ time_slot }}</option>
            {% else %}
                <option value="{{ time_slot }}">{{ time_slot }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="hidden" name="current-lecture-hall" value="{{ selected_lecture_hall }}">
    <input type="submit" value="Book Slot">
</form>
{% endblock content %}